@import "tailwindcss";


html {
  scroll-behavior: smooth;
}
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}